<page-title>
    <ng-container class="title-text">Performance</ng-container>
</page-title>

<!--List of tests-->
<div id="leftDiv" class="flex flex-col lg:flex-row lg:justify-between">
    <div class="flex flex-wrap">
        <!--Use ngFor to display all tests and bind the circle style to their respective colors!-->
        <div *ngFor="let t of tests"
            class="flex flex-row text-sm bg-slate-600 rounded-lg p-1 m-1 hover:bg-slate-600"
            [class.bg-slate-600]="t.isSelected"
            (click)="t.isSelected = !t.isSelected; onTestClick(t)"
            > <!-- Toggle isSelected field and redraw the chart--> <!--test id is the reference to the div-->
            <img class="object-cover h-10 w-10  rounded-lg mr-2"
                src={{t.imgURL}}
                alt="Test Cover Image" />
            <div class="flex flex-col">
                <p class="font-semibold">{{ t.name }}</p>
                <p>{{ t.subject }}</p>
            </div>
            <!-- We have to bind the color of the graph line to the color of the circle! (from ts file)-->
            <div class="ml-2 flex items-center"> <!--if isSelected == false, don't display the circle at all! -->
                <fa-icon [icon]="faCircle" class="fa-lg m-1 text-sm" [style.color]="t.isSelected ? t.color : 'rgba(0, 0, 0, 0)'"></fa-icon>
            </div>  
        </div>
    </div>


    <div id="rightDiv">
        <mat-form-field appearance="fill" color="accent">
            <mat-label class="text-slate-200">Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date">
              <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-hint class="text-slate-400">MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle class="text-amber-200" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
    </div>
</div>


<!-- Chart for visualizing data-->
<div id="chartDiv">
    <canvas id="chartCanvas">
    </canvas>
</div>