<page-title>
    <ng-container class="title-text">Global Ranking</ng-container>
</page-title>



<div>
    <ul class="hidden font-medium text-center text-slate-200 rounded-lg divide-x divide-slate-800 sm:flex">
        <li class="w-full">
        <a href="#" class="inline-block p-1 w-full border-b-4 border-slate-300 hover:border-blue-400 hover:text-blue-400 focus:ring-4 focus:ring-blue-300 focus:outline-none"
            aria-current="page">Top Tests</a>
        </li>
        <li class="w-full">
        <a href="#" class="inline-block p-1 w-full border-b-4 border-slate-300 hover:border-blue-400 hover:text-blue-400 focus:ring-4 focus:ring-blue-300 focus:outline-none ">
            Top Ranking
        </a>
        </li>
        
    </ul>
</div>
    
    
    