<page-title>
    <ng-container class="title-text">Login</ng-container>
</page-title>

<div class="justify-center">
    <form action="" [formGroup]="loginForm" #f="ngForm" class="accent-amber-300" (ngSubmit)="login(f.value)">
        <div class="text-md mb-3">Please log in to use all features of the platform!
            <fa-icon [icon]="faHeart" class="fa-sm"></fa-icon>
        </div>
        <div *ngIf="loginForm.errors" class="text-red-300">The email or password is invalid. Please try again</div>
        <label for="email">Email address</label> 
        <br>
        <input formControlName="email" id="email" type="text" class="text-input-field" placeholder="Email address">
        <br>
        
        <label for="password">Password</label>
        <br>
        <input formControlName="password" id="password" type="password" class="text-input-field" placeholder="Password">
        <br>
        <a href="" class="link-yellow">Forgot your password?</a>
        <br>

        <div class="mt-2">
            <input id="rememberMe" type="checkbox" class="h-4 w-4 mr-2">
            <label for="rememberMe">Remember me</label>
        </div>
    
        

        <button class="button-yellow">Login</button>

        <p>Don't have an account? <a routerLink="/registration-component" routerLinkActive="active" class="link-yellow">Sign up!</a></p>
        
    
    </form>

</div>
