<h2 class="font-bold text-2xl ml-6">Login</h2>
<div class="py-2"> <!-- horizontal line-->
    <div class="w-full border-t border-slate-500"></div>
</div>

<div class="justify-center">
    <form action="" class="accent-amber-300" >

        <label for="email">Email address</label> 
        <br>
        <input id="email" type="text" class="text-input-field" placeholder="Email address">
        <br>
        
        <label for="password">Password</label>
        <br>
        <input id="password" type="text" class="text-input-field" placeholder="Password">
        <br>
        <a href="" class="link-yellow">Forgot your password?</a>
        <br>

        <div class="mt-2">
            <input id="rememberMe" type="checkbox" class="h-4 w-4 mr-2">
            <label for="rememberMe">Remember me</label>
        </div>
    
        

        <button class="button-yellow">Login</button>

        <p>Don't have an account? <a href="" class="link-yellow">Sign up!</a></p>
        
    
    </form>

</div>
