<h2 class="font-bold text-2xl ml-6">Change Password</h2>
<div class="py-2"> <!-- horizontal line-->
    <div class="w-full border-t border-slate-500"></div>
</div>

<form [formGroup]="passwordForm" action="" class="accent-amber-300" (ngSubmit)="updatePassword()">
   
    <div>
        <label for="oldPassword">Old Password:</label> 
        <br>
        <input formControlName="oldPassword" id="oldPassword" type="password" class="text-input-field">
        <div *ngIf="oldPassword?.pending">Checking...</div>
        <div *ngIf="oldPassword?.invalid && oldPassword?.touched" class="text-red-400">
            <div *ngIf="oldPassword?.errors?.['required']" id="validation-errors">
                Old password is required. 
            </div>
            <div *ngIf="oldPassword?.errors?.['passwordShouldBeCorrect']">
                Incorrect password.
            </div>
        </div>
        
    </div>
  
    <div class="mt-2">
        <label for="password">New Password:</label>
        <br>
        <input formControlName="newPassword" id="newPassword" type="password" class="text-input-field">
        <div *ngIf="newPassword?.invalid && newPassword?.touched" class="text-red-400">
            <div *ngIf="newPassword?.errors?.['required']" id="validation-errors">
                New password is required.
            </div>
        </div>
        
    </div>
    
    <div class="mt-2">
        <label for="password">Confirm Password:</label>
        <br>
        <input formControlName="confirmPassword" id="confirmPassword" type="password" class="text-input-field">
        <div *ngIf="confirmPassword?.invalid && confirmPassword?.touched" class="text-red-400">
            <div *ngIf="confirmPassword?.errors?.['required']">
                Please confirm your new password. 
            </div>
        </div>
        <div *ngIf="confirmPassword?.valid && passwordForm?.invalid && passwordForm?.errors?.['passwordsShouldMatch']" class="text-red-400">
            Passwords do not match. 
        </div>
    </div>
   
    <input type="submit" value="Save" class="button-yellow">
</form>