<div class="grid lg:grid-cols-4 md:grid-cols-3 h-screen">

  <div class="bg-slate-800 col-span-1 text-slate-300">
    
    <h1 class="text-2xl mx-3 mt-3 font-bold text-slate-200">Test Your Brain</h1>
    <side-menu></side-menu>
  </div> <!--end of menu-->

  <div class="bg-slate-600 lg:col-span-3 md:col-span-2 p-3 text-slate-100">
    <div class="bg-slate-700 p-2 sm:p-6 rounded-lg h-full">
        <!-- <img
          src="..\..\assets\brain.svg"
          alt="brain icon"
          height="20"
           /> -->

            <!-- The routed views render in the <router-outlet>-->
      <router-outlet></router-outlet>

    </div> <!-- end of inner rounded bg-->
  </div><!--end of main area-->


</div> <!--end of grid -->


