<page-title>
    <ng-container class="title-text">Dashboard</ng-container>
    <ng-container class="additional">
        <a routerLink="/create-component" routerLinkActive="active" class="border-lime-400 border-2 rounded-lg font-semibold text-lg text-lime-400 px-2 hover:bg-slate-600/70">
            Create
        </a>
    </ng-container>
</page-title>

<div class="flex flex-col  bg-slate-700">
    <!-- Heading -->
    <div class="flex flex-row  basis-1">
        <div class="basis-7/12 table-heading-elem">Test Name</div>
        <div class="basis-2/12 table-heading-elem flex justify-center items-center"> <p>Count</p></div>
        <div class="basis-3/12 table-heading-elem flex justify-center items-center"><p>Avg Score</p></div>
    </div>

    <!--Test 1-->
    <div class="flex flex-row  basis-1" *ngFor="let t of tests">
        <!--NAME-->
        <div class="basis-7/12 table-row-elem flex flex-col sm:flex-row justify-between">
            <test-details [name]="t.name" [subject]="t.subject" [imgURL]="t.imgURL">
            </test-details>
            <div class="flex flex-col">
                <a [routerLink]="['/edit-component', t.id]" routerLinkActive="active">
                    <fa-icon [icon]="faEdit" class="fa-lg m-1 text-lime-300 hover:text-lime-500"></fa-icon>
                </a>
                
               
                <fa-icon [icon]="faDelete" (click)="deleteTest(t)" class="fa-lg m-1 text-red-400 hover:text-red-500"></fa-icon>
            </div>
        </div>
      
        <!--COUNT-->
        
        <div class="basis-2/12 table-row-elem flex items-center justify-center">
            <count [count]="t.count"></count>
        </div>

        <!--AVG SCORE-->
        <div class="basis-3/12 table-row-elem  flex items-center justify-center">
            <score [scoreValue] ="t.avgScore"></score>
        </div>

</div>


