<div class="menu-section outline-lime-400">
    <h3 class="section-title text-lime-300">Create</h3>
    <ul class="list-items decoration-lime-500">
        <li class="hover-lime">
            <a routerLink="/dashboard-component" routerLinkActive="active" class="decoration-lime-500">
                Dashboard
            </a>
        </li>
    </ul>
    <h4 class="text-lg text-slate-400">Reports</h4>
        <ul class="list-items decoration-lime-500">
            <li class="hover-lime">
                <a routerLink="/performance-component" routerLinkActive="active" class="decoration-lime-500">
                    Performance
                </a>
            </li>
            <li class="hover-lime">Report Generator</li>
        </ul>
    <h4 class="text-lg text-slate-400">Setup</h4>
        <ul class="list-items decoration-lime-500">
            <li class="hover-lime">
                <a routerLink="/planning-component" routerLinkActive="active" class="decoration-lime-500">
                    Planning
                </a>
            </li>
            <li class="hover-lime">
                <a routerLink="/preview-component" routerLinkActive="active" class="decoration-lime-500">
                    Preview
                </a>
            </li>
        </ul>
</div>

<div class="menu-section outline-amber-400">
    <h3 class="section-title text-amber-300">Take a test</h3>
    <ul class="list-items decoration-amber-500">
        <li class="hover-amber">
            <a routerLink="/personal-tests-component" routerLinkActive="active" class="decoration-amber-500">
                Personal Tests
            </a>
        </li>
        <li class="hover-amber">
            <a routerLink="/global-ranking-component" routerLinkActive="active" class="decoration-amber-500">
                Global Ranking
            </a>
        </li>
        <li class="hover-amber">
            <a routerLink="/results-component" routerLinkActive="active" class="decoration-amber-500">
                Results
            </a>
        </li>
    </ul>
</div>


<div class="menu-section outline-red-400">
    <h3 class="section-title text-red-400">For Developers</h3>
    <ul class="list-items decoration-red-500">
        <li class="hover-red">API</li>
    </ul>
</div>

<a routerLink="/registration-component" routerLinkActive="active" class="underline ml-3">Register</a>
<a routerLink="/login-component" routerLinkActive="active" class="underline ml-3">Login</a>
<a routerLink="/posts-component" routerLinkActive="active" class="underline ml-3  text-blue-500">Posts</a>



<div class="py-2"> <!-- horizontal line-->
    <div class="w-full border-t border-slate-900"></div>
</div>
<div class="pb-2 pl-2 flex items-center hover:text-white h-10 fixed bottom-0 left-0">  
    <fa-icon [icon]="faUser" class="fa-2x"></fa-icon>
    <a routerLink="/account-component" routerLinkActive="active" class="text-xl ml-3">Account</a>
</div>

<br>


